/*** 

Base functions

***/

.serviceboxescolors() {
    background-color: @prim0;
    color: @primdark3;
}

.navbarstyle() {
    font-size: 1em;
    background-color: transparent;
    color: @primdark3;
    border: none !important;
}

.outshadow(@x;@y;@blur;@spread;@color) {
    box-shadow: @x @y @blur @spread @color;
    -moz-box-shadow: @x @y @blur @spread  @color;
    -webkit-box-shadow: @x @y @blur @spread  @color;
}

.inshadow(@x;@y;@blur;@spread;@color) {
    box-shadow: inset @x @y @blur @spread @color, inset -@x -@y @blur @spread @color;
    -moz-box-shadow: inset @x @y @blur @spread @color, inset -@x -@y @blur @spread @color;
    -webkit-box-shadow: inset @x @y @blur @spread @color, inset -@x -@y @blur @spread @color;
}

.borderradius(@radius){
    border-radius: @radius;
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
}

.bordertopradius(@radius){
    border-top-left-radius: @radius;
    -moz-border-top-left-radius: @radius;
    -webkit-border-top-left-radius: @radius;
    border-top-right-radius: @radius;
    -moz-border-top-right-radius: @radius;
    -webkit-border-top-right-radius: @radius;
}

.display-on-threshold(@threshold) {
    .hide-small {
	@media (max-width : @threshold) {
	    display: none;
	}
    }

    .hide-large {
	@media (min-width : @threshold) {
	    display: none;
	}
    }
}

.stop-reducing(@threshold) {
    @media (max-width : @threshold) {
	min-width: @threshold;
    }
}

.a-colors(@back;@fore){
    .ui-state-active a,
    a:active, 
    a:hover {
	background-color: @fore;
	color: @back;
    }

    a {
	background-color: @back;
	color: @fore;
    }
}

/***
   
base colors

***/

@textforecolor: #000000;
@textbackcolor: #ffffff;

/* LESS - http://lesscss.org style sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=74e1q0kiCFn8GVde7NVmtwSqXtg */

/* Feel free to copy&paste color codes to your application */


/* MIXINS */

/* As hex codes */

@prim0: #7A62C9;	/* Main Primary color */
@prim1: #C5B7F1;
@prim2: #9C88DE;
@prim3: #5D43B2;
@prim4: #4529A0;

@seca0: #FF6B6B;	/* Main Secondary color (1) */
@seca1: #FFBABA;
@seca2: #FF8F8F;
@seca3: #FF4C4C;
@seca4: #E92525;

@secb0: #5CDD5C;	/* Main Secondary color (2) */
@secb1: #B3F6B3;
@secb2: #83EA83;
@secb3: #3DCD3D;
@secb4: #1DBB1D;

@comp0: #FFE66B;	/* Main Complement color */
@comp1: #FFF3BA;
@comp2: #FFEC8F;
@comp3: #FFE04C;
@comp4: #E9C725;

/* As RGBa codes */

@rgba-prim0: rgba(122, 98,201,1);	/* Main Primary color */
@rgba-prim1: rgba(197,183,241,1);
@rgba-prim2: rgba(156,136,222,1);
@rgba-prim3: rgba( 93, 67,178,1);
@rgba-prim4: rgba( 69, 41,160,1);

@rgba-seca0: rgba(255,107,107,1);	/* Main Secondary color (1) */
@rgba-seca1: rgba(255,186,186,1);
@rgba-seca2: rgba(255,143,143,1);
@rgba-seca3: rgba(255, 76, 76,1);
@rgba-seca4: rgba(233, 37, 37,1);

@rgba-secb0: rgba( 92,221, 92,1);	/* Main Secondary color (2) */
@rgba-secb1: rgba(179,246,179,1);
@rgba-secb2: rgba(131,234,131,1);
@rgba-secb3: rgba( 61,205, 61,1);
@rgba-secb4: rgba( 29,187, 29,1);

@rgba-comp0: rgba(255,230,107,1);	/* Main Complement color */
@rgba-comp1: rgba(255,243,186,1);
@rgba-comp2: rgba(255,236,143,1);
@rgba-comp3: rgba(255,224, 76,1);
@rgba-comp4: rgba(233,199, 37,1);

/* Generated by Paletton.com © 2002-2014 */
/* http://paletton.com */


/* LESS - http://lesscss.org style sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=74e1q0kJS6KvW5fuP8MNdeqCnl7 */

/* Feel free to copy&paste color codes to your application */


/* MIXINS */

/* As hex codes */

@primdark0: #0A0225;	/* Main Primary color */
@primdark1: #09031D;
@primdark2: #110730;
@primdark3: #16044F;
@primdark4: #230A74;

@secadark0: #360000;	/* Main Secondary color (1) */
@secadark1: #2A0000;
@secadark2: #460303;
@secadark3: #730000;
@secadark4: #A80000;

@secbdark0: #002B00;	/* Main Secondary color (2) */
@secbdark1: #002100;
@secbdark2: #023802;
@secbdark3: #005C00;
@secbdark4: #008700;

@compdark0: #362C00;	/* Main Complement color */
@compdark1: #2A2300;
@compdark2: #463A03;
@compdark3: #735F00;
@compdark4: #A88B00;

/* As RGBa codes */

@rgba-primdark0: rgba( 10,  2, 37,1);	/* Main Primary color */
@rgba-primdark1: rgba(  9,  3, 29,1);
@rgba-primdark2: rgba( 17,  7, 48,1);
@rgba-primdark3: rgba( 22,  4, 79,1);
@rgba-primdark4: rgba( 35, 10,116,1);

@rgba-secadark0: rgba( 54,  0,  0,1);	/* Main Secondary color (1) */
@rgba-secadark1: rgba( 42,  0,  0,1);
@rgba-secadark2: rgba( 70,  3,  3,1);
@rgba-secadark3: rgba(115,  0,  0,1);
@rgba-secadark4: rgba(168,  0,  0,1);

@rgba-secbdark0: rgba(  0, 43,  0,1);	/* Main Secondary color (2) */
@rgba-secbdark1: rgba(  0, 33,  0,1);
@rgba-secbdark2: rgba(  2, 56,  2,1);
@rgba-secbdark3: rgba(  0, 92,  0,1);
@rgba-secbdark4: rgba(  0,135,  0,1);

@rgba-compdark0: rgba( 54, 44,  0,1);	/* Main Complement color */
@rgba-compdark1: rgba( 42, 35,  0,1);
@rgba-compdark2: rgba( 70, 58,  3,1);
@rgba-compdark3: rgba(115, 95,  0,1);
@rgba-compdark4: rgba(168,139,  0,1);


/* Generated by Paletton.com © 2002-2014 */
/* http://paletton.com */


/* -- base style ----------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -ms-font-size-adjust: 0.58;
    -webkit-font-size-adjust: 0.58;
    font-size-adjust: 0.58;
}

table {
    border-collpse: collapse;
}

body {
    font-family: sans-serif;
    letter-spacing: -0.01em;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    background-color: @prim0;
    color: @textforecolor;
    padding: 0;
    margin: 0;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.justify {
    text-align: justify;
}

/* -- page layout ----------------------------------------------------------- */

#header {
    .serviceboxescolors();
    .outshadow(0px;1px;10px;0px;fade(@primdark3,50%));
    text-align: left;
    z-index: 100;
    margin-bottom: .5em;
    width: 100%;

    .stop-reducing(200px);

    img {
	width: 8vw;
	vertical-align: center;
	display: inline-block;
	@media (max-width : 200px) {
	    min-width: 16px;
	}
    }

    .header-title {
	display: inline-block;
	vertical-align: center;
	font-family: Speakeasy;
	font-size: 9vw;
	letter-spacing: 0.1em;
	color: @prim1;
	text-shadow: 2px 2px 2px @primdark3;
	text-align: right;
	width: 90vw;
	padding: 0;
	padding-bottom: .2em;

	@media (max-width : 200px) {
	    min-width: 160px;
	    font-size: 18px;
	    text-align: left;
	}

    }

}

#footer {
    .serviceboxescolors();
    .outshadow(0px,-1px,10px,0px,fade(@primdark3,50%));
    text-align: left;
    margin-top: 1em;
    width: 100%;
    .a-colors(@prim0;@primdark3);
    padding: 1em;
}

@navthreshold: 750px;

#userbar {
    .serviceboxescolors();
    padding: .5em;
    padding-top: 1em;
    padding-bottom: 1em;
    position: relative;
    text-align: right;

    @threshold: @navthreshold;

    .stop-reducing(200px);
    .display-on-threshold(@navthreshold);

    @media (max-width: @threshold) {
	text-align: center;
    }

    .a-colors(@prim1;@primdark3);

    a {
	min-width: 2em;
	padding-left: .5em;
	padding-right: .5em; 
	text-align: center;
	.borderradius(.3em);
	text-decoration: none;
	@media (max-width: @threshold) {
	    min-width: 3em;
	    font-size: 18pt;
	};
	@media (min-width: @threshold) {
	    padding-top: .5em;
	    padding-bottom: .5em;
	};
    }

}

#main {
    margin: 0;
    padding: 1%;
    width: 100%;
    text-align: center;
    .serviceboxescolors();

    .stop-reducing(200px);
    .display-on-threshold(@navthreshold);

    a {
	text-decoration: none;
    }

    div,nav {
	display: inline-block;
	vertical-align: top;
	line-height: 150%;
    }

    .errors {
	background: @secb1;
	color: @secbdark3;
    }

    .info {
	background: @prim1;
    }

    .errors,.info,.help {
	text-align: justify;
	padding: 1em;
	.borderradius(1em);
	margin-top: 1em;
	margin-bottom: 1em;
    }

    h1 {
	margin-bottom: 1em;
    }

    #fullpage {
	@media screen and (min-width:@navthreshold){
	    width: 50%;
	}

	@media screen and (max-width:@navthreshold) {
	    width: 100%;
	}

	margin: auto;
	form {
	    padding : 1em;
	    text-align: center;
	    table {
		margin: auto;
	    } 
	}
    }

    #content {
	text-align: justify;
	padding: .5em;
	background: @prim1;
	.inshadow(2px;2px;2px;0px;fade(@primdark3,50%));

	min-height: 30em;

	@media screen and (min-width:@navthreshold){
	    width: 95%;
	}

	@media screen and (max-width:@navthreshold) {
	    width: 100%;
	}
    }
    
    /*
    #sidenav {
	z-index:3;
	text-align: left;
	.serviceboxescolors();
	.a-colors(@prim0;@primdark3);

	a {
	    display: block;
	    padding-top: .2em;
	    padding-bottom: .2em;
	    text-decoration: none;
	}

	@media screen and (min-width:@navthreshold){
	    display: inline-block;
	    width: 15%;
	}

	@media screen and (max-width:@navthreshold) {
	    width: 100%;
	}
    }*/

    .form-block {
	text-align: center;
	width: 100%;
	.a-colors(@prim1;@primdark3);
	
	a {
	    text-decoration: none;
	}

	.info {
	    background: @prim0;
	}

	h1 {
	    font-size: 140%;
	    letter-spacing: .1em;
	    word-spacing: .5em;
	    color: @prim2;
	    background-color: @primdark3;
	    margin: auto;
	    min-width: 11em;
	    padding-top: .5em;
	    padding-bottom: .5em;
	    @media screen and (min-width:@navthreshold){
		width: 70%;
	    }
	    
	    @media screen and (max-width:@navthreshold) {
		width: 95%;
	    }
	}


	form {
	    text-align: center;
	    margin: auto;
	    min-width: 10em;
	    padding: 1em;

	    @media screen and (min-width:@navthreshold){
		width: 50%;
	    }
	    
	    @media screen and (max-width:@navthreshold) {
		width: 95%;
	    }

	    table {
		width: 100%;
		th {
		    text-align: right;
		}
		input {
		    width: 100%;
		}
		padding-top: .5em;
		padding-bottom: 1em;
	    }
	}
    }

    .menu {
	margin-top: .2em;
	margin-bottom: .2em;
	display: block;
	margin-left: auto;
	margin-right: 0;

	.a-colors(@prim2;@primdark3);
	
	a{
	    .borderradius(1em);
	    padding-top: .2em;
	    padding-bottom: .2em;
	    padding-left: .8em;
	    padding-right: .8em;
	    display: inline-block;
	}
    }
    
    .content-block {
	width: 96%;
	background: @textbackcolor;
	color: @textforecolor;
	padding: 1em;
	margin: 2%;

	.menu {
	    .a-colors(@prim2;@primdark3);
	}

	.ui-tabs {
	    .ui-tabs-nav {
		border: none;
		background: transparent;
	    }
	    width: 100%;
	    border: none;
		
	    .ui-tab,
	    .ui-tab * {
		.bordertopradius(1em);
	    }

	    .ui-tabs-panel {
		width: 100%;
		border: 1px solid @primdark3;
		min-height: 10em;
	    }
	    .box {
		margin: auto;
	    }
	}

	.box {
	    width: 100%;
	    border: 1px solid @primdark3;
	    min-height: 10em;
	    padding: 1em;
	    margin-top: 1em;
	    margin-bottom: .5em;
	    h1 {
		text-align: center;
		background-color: @primdark3;
		color: @textbackcolor;
		padding-top: .1em;
		padding-bottom: .1em;
	    }
	}

	.mini-commands-right {
	    float: right;
	    a {
		display: inline-block;
		background: transparent;
	    }
	    .gpq {
		vertical-align: 1px;
	    }

	}

	table {
	    width: 100%;
	    border-collapse: collapse;
	    margin-top: .6em;
	    margin-bottom: .3em;

	    thead {
		tr {
		    background: @prim1;
		    color: @primdark3;
		    border-bottom: 1px solid @primdark3;
		}
		th {
		    text-align: center;
		    vertical-align: bottom;
		}
	    }

	    tbody.even {
		background: fade(@prim1,30%);
		a {
		    background: transparent;
		}
		a:hover,
		a:active {
		    background: @primdark3;
		}
	    }

	}

	h1 {
	    font-size: 140%;
	    border-top: 1px solid @primdark3;
	    border-bottom: 1px solid @primdark3;
	    color: @primdark3;
	    padding-top: .7em;
	    padding-bottom: .7em;
	}

	.under-title {
	    text-align: right;
	    width: 100%;
	    font-size: 80%;
	    color: @primdark3;
	    font-style: italic;
	    margin-bottom: 1em;
	    margin-top: -1.5em;

	    table {
		width: auto;
		margin-left: auto;
		margin-right: 0;
	    }
	    th {
		text-align: right;
	    }
	    td,th {
		padding: .2em;
	    }
	}

	.a-colors(@textbackcolor;@primdark3);
	
	.actions {
	    margin-top: .2em;
	    margin-bottom: .2em;
	    display: block;
	    margin-left: auto;
	    margin-right: 0;
	    text-align: right;
	    .a-colors(@prim2;@primdark3);

	    a{
		.borderradius(1em);
		padding-top: .2em;
		padding-bottom: .2em;
		padding-left: .8em;
		padding-right: .8em;
		display: inline-block;
	    }
	}

    }

}


