<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="it" xml:lang="it">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>

  <link rel="icon" href="{{ static_url }}/img/icon.png" type="image/png"/>
  <link rel="stylesheet" type="text/css" href="{{ static_url }}/css/urltester.css"/>
  <link rel="stylesheet" type="text/css" href="{{ static_url }}/css/font-awesome.min-4.6.3.css"/>

</head>

<body>
  {% block body %}

  <a name="header"></a>
  <div id="header">
    <div class="header-title">{{ title }}</div>
  </div>

  <a name="menu"></a>
  <div id="menu">
    <a href="./">Home</a>
    <a href="./config">Configuration</a>
    <a href="./docs">Documentation</a>
  </div>

  <a name="main"></a>
  <div id="main">

    <!-- Page content -->
    <div id="content">
      
      {% block content %}{% endblock content %}

    </div>
  </div>

  <a name="footer"></a>
  <div id="footer">
     &copy; 2016 <a href="http://www.eng.it">Engineering.mo S.p.A.</a> <br/>
  </div>
  
  {% endblock body %}
</body>
</html>
