{% extends "base.html" %}

{% block content %}
<ul class="toc">
  <li class="toc1"><a name="#install">1. Configurazione dell'installazione</a></li>
  <li class="toc1"><a href="#wsgi">2. Configurazione come WSGI</a>
  <li class="toc2"><a href="#wsgiut">2.1. Configurazione di UrlTester</a></li>
  <li class="toc2"><a href="#wsgiapache">2.2. Configurazione di Apache HTTP Server</a></li>
  <li class="toc1"><a href="#standalone">3. Configurazione come server standalone</a></li>
  <li class="toc1"><a href="#proxy">4. Configurazione come server con un reverse proxy</a>
  <li class="toc2"><a href="#proxyut">4.1. Configurazione di UrlTester</a></li>
  <li class="toc2">
    <a href="#proxyapache">4.2. Configurazione di Apache HTTP Server (parte statica servita da UrlTester)</a></li>
  <li class="toc2">
    <a href="#proxyapache2">4.3. Configurazione di Apache HTTP Server (parte statica servita da Apache HTTP Server)</a></li>
  <li class="toc1"><a href="#test">5. Configurazione dei test</a></li>
  <li class="toc1"><a href="#mon">6. Configurazione del monitoraggio</a></li>
</ul>

<a name="install"></a>
<h1>1. Configurazione dell'installazione</h1>

<p>Bisogna editare il file <tt>lib/python/urltester/config.py</tt>, in
particolare BASE_DIR deve corrispondere al path di installazione di
UrlTester.</p>

<a name="wsgi"></a>
<h1>2. Configurazione come WSGI</h1>

<a name="wsgiut"></a>
<h2>2.1. Configurazione di UrlTester</h2>

<p>In <tt>wsgi/urltester.wsgi</tt> è necessario passare i parametri di configurazione all'oggetto Settings:</p>

<pre>
...
settings=urltester.config.Settings(param1=val1, param2=val2, ...)
...
</pre>

<p>Parametri di configurazione:</p>

<table>
<thead>
  <tr>
    <th>param</th>
    <th>type</th>
    <th>default</th>
    <th>description</th>
  </tr>
</thead>

{% for k,valdict in params_settings.items() %}
<tbody>
<tr>
  <td>{{ k }}</td>
  <td class="center">{{ valdict.type }}</td>
  <td>{{ valdict.default }}</td>
  <td>{{ valdict.doc }}</td>
</tr>
</tbody>
{% endfor %}

</table>

<a name="wsgiapache"></a>
<h2>2.2. Configurazione di Apache HTTP Server</h2>

<p>La parte statica e il modulo  wsgi devono essere configurati con lo
stesso prefisso (<tt>/urltester</tt> nell'esempio):</p>

<pre>
LoadModule wsgi_module path_di_mod_wsgi

Alias /urltester/static/ /usr/local/urltester/UrlTester/static/

&lt;Directory /usr/local/urltester/UrlTester/static/&gt;
     #Require all granted
     AllowOverride None
     Order allow,deny
     Allow from all
&lt;/Directory&gt;

WSGIScriptAlias /urltester /usr/local/urltester/UrlTester/wsgi/urltester.wsgi
 
&lt;Directory /usr/local/urltester/UrlTester/wsgi&gt;
    #Require all granted
    AllowOverride None
    Order allow,deny
    Allow from all
&lt;/Directory&gt;

</pre>

<p>Path di mod_wsgi è ad esempio: /usr/local/urltester/software/lib/python2.7/site-packages/mod_wsgi/server/mod_wsgi-py27.so.</p>

<a name="standalone"></a>
<h1>3. Configurazione come server standalone</h1>

<p>È sufficiente avviare <tt>urltester</tt> in modalità server, specificando che deve servire anche la parte statica:</p>

<pre>
$ bin/urltester --server --serve_static --action=start
</pre>

<p>Le <i>action</i> possibili sono start, stop, restart o status.</p>

<p>Vedere l'help per l'elenco completo delle opzioni:</p>

<pre>
$ bin/urltester --help
</pre>



<a name="proxy"></a>
<h1>4. Configurazione come server con un reverse proxy</h1>

<a name="proxyut"></a>
<h2>4.1. Configurazione di UrlTester</h2>

<p>Bisogna  far partire  UrlTester  come server,  indicando lo  stesso
context  previsto lato  reverse proxy  (/urltester nell'esempio)  come
base_context.</p>

<pre>
$ bin/urltester --server --base_context="/urltester" --action=start
</pre>

<p>È possibile far servire la parte statica a UrlTester (con l'opzione
<tt>--serve_static</tt>), anche se è preferibile che sia il reverse proxy a
farlo direttamente.</p>

<a name="proxyapache"></a>
<h2>4.2. Configurazione di Apache HTTP Server (parte statica servita da UrlTester)</h2>

<p>Configurazione del reverse proxy:</p>

<pre>
ProxyPass "/urltester" "http://127.0.0.1:9876/urltester"
ProxyPassReverse "/urltester" "http://127.0.0.1:9876/urltester"
</pre>

<a name="proxyapache2"></a>
<h2>4.3. Configurazione di Apache HTTP Server (parte statica servita da Apache HTTP Server)</h2>

<p>Per servire la parte statica (deve precedere il resto):</p>

<pre>
Alias /urltester/static/ /usr/local/urltester/UrlTester/static/

&lt;Directory /usr/local/urltester/UrlTester/static/&gt;
     #Require all granted
     AllowOverride None
     Order allow,deny
     Allow from all
&lt;/Directory&gt;
</pre>

<p>Configurazione del reverse proxy:</p>

<pre>
ProxyPass        "/urltester/static/" "!"
ProxyPass        "/urltester"         "http://127.0.0.1:9876/urltester"
ProxyPassReverse "/urltester"         "http://127.0.0.1:9876/urltester"
</pre>

<a name="test"></a>
<h1>5. Configurazione dei test</h1>

<p>I test sono descritti nei file di configurazione del
parametro <i>path</i> della <a href="#conwsgi">configurazione di
WSGI</a></p>

<p>I file di configurazione sono file json, con una lista di stanze che definiscono il test da eseguire:</p>

<pre>
[
    {
        "context": "gianozia", 
        "title": "Gianozia Orientale", 
        "url": "http://www.gianoziaorientale.org", 
        "affects": "D,F,G", 
        "timeout": 20, 
        "status_ok": "any"
    }, 
    {
        "context": "google-errore", 
        "title": "Google Errore", 
        "url": "http://www.google.it/yssuhaajjakd", 
        "affects": "D,F,G", 
        "timeout": 20, 
        "status_ok": "any"
    }, 
    ...
]
</pre>

<p>Parametri:</p>

<table>
<thead>
  <tr>
    <th>param</th>
    <th>type</th>
    <th>mand.</th>
    <th>default</th>
    <th>description</th>
  </tr>
</thead>

{% for k,valdict in params_tests.items() %}
<tbody>
<tr>
  <td>{{ k }}</td>
  <td class="center">{{ valdict.type }}</td>
  <td class="center">{% if valdict.mandatory %}<i class="fa fa-check"></i>{% endif %}</td>
  <td>{{ valdict.default }}</td>
  <td>{{ valdict.description }}</td>
</tr>
</tbody>
{% endfor %}
</table>

<p>Gli stati http validi possono essere specificati come:</p>
<ul>
<li> La stringa <i>any</i>: tutti gli stati sono considerati validi e vengono segnalati solo gli errori di connessione.</li>
<li>Un numero o una stringa numerica (ad es. 200).</li>
<li>Una stringa <i>start:end</i> che indica un range (estremi
inclusi). Ad es. "1:3" = 1,2,3</li>
<li>Una stringa <i>start:step:end</i> che indica un range (estremi
inclusi) di valori ogni <i>step</i>. Ad es. "3:2:9" = 3,5,7,9.</li>
<li>Una lista di elementi come quelli dei punti precedenti (eccetto <i>any</i>). Ad es. [ 100, "200:299", "404:3:500" ].</li>
</ul>

<p>Sono stati  aggiunti due  stati speciali, 600  e 601,  che indicano
errori nell'SSL  segnalati dal  server (cioè  in cui  è sicuro  che la
connessione  è andata  a buon  fine),  ad esempio  perché il  certificato
presentato dal client non è valido.</p>

<a name="mon"></a>
<h1>6. Configurazione del monitoraggio</h1>

<p>Il monitoraggio dev'essere impostato per cercare la stringa "OK" e/o "KO".</p>

<p>Lo status "OK" può essere identificato da:</p>

<pre>
&lt;div class="status backyellow"&gt;&lt;i class="fa fa-thumbs-o-up"&gt;&lt;/i&gt; OK&lt;/div&gt;
</pre>
oppure:
<pre>
&lt;div class="status backgreen"&gt;&lt;i class="fa fa-thumbs-o-up"&gt;&lt;/i&gt; OK&lt;/div&gt;
</pre>

<p>Lo status "KO" può essere identificato da:</p>

<pre>
&lt;div class="status backred"&gt;&lt;i class="fa fa-thumbs-o-down"&gt;&lt;/i&gt; KO&lt;/div&gt;
</pre>

{% endblock %}
